body{
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #f4ffe5;
    font-family: "Lucida Sans";
}

header{
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    align-items: center ;
    justify-content: space-between;
    background-color: #8FD71A;
}

header h1{
    font-family: "Kristen ITC";
    font-size: xx-large;
}

#right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title{
    display: flex;
}

.bio{
    margin-left: 15px;
    color: #ffffff;
    background-color: #2db456;
}

nav{
    display: flex;
    padding-right: 40px;
}

.pMenu{
    position: relative;
    background-color: #9fea24;
    font-size: 1.2em;
    margin: 0;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

#acceuil{
    text-decoration: none;
}

#menu0{
    padding-right: 8px;
}

#menu1{
    padding-right: 8px;
}

.menu {
    list-style: none;
    position: absolute;
    background-color: #f4ffe5;
    margin: 0;
    padding: 0;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.menu a{
    text-decoration: none;
}

.menu a li{
    box-shadow: inset 0 0 0 0 #2db456;
    color: #000000;
    background-color: #f4ffe5;
    font-size: 1.2em;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    &:hover {
        color: #f4ffe5;
        box-shadow: inset 300px 0 0 0 #2db456;
    }
}

.pMenu:hover + .menu,
.menu:hover {
    opacity: 1;
}

header img{
    height: 100px;
}

#ab{
    height: 60px;
}

.main{
    margin-left: 120px;
    margin-right: 120px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    color: #004b06;
    font-size: x-large;
}

footer{
    margin: 0;
    margin-top: 15px;
    padding-top: 5px;
    color: white;
    background-color: #8FD71A;
}

footer p{
    text-align: center;
}

@media screen and (max-width: 1250px){
    header{
        padding-right: 32px;
        padding-left: 32px;
    }
    header img {
        height: 60px;
    }
    header h1{
        font-size: x-large;
    }
    nav{
        padding-right: 15px;
    }
}

@media screen and (max-width: 1000px){
    .main{
        margin-right: 0;
        margin-left: 0;
    }
}