main{
    display: flex;
    justify-content: center;
}

.mainSection{
    text-align: center;
    width: 60%;
}

h2{
    font-weight: normal;
    font-size: xx-large;
    color: #7ebd17;
    text-align: center;
}

#formules{
    display: flex;
    justify-content: space-between;
}

h3{
    font-size: x-large;
}

.formule{
    background-color: #deeccf;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%;
    /*border: 2px solid #ccc;*/
    border-radius: 10px;
    padding: 20px;
}

.prixContent{
    padding-left: 20px;
    display: flex;
    align-items: end;
    font-size: small;
}

.prix{
    margin: 0;
    font-size: xxx-large;
    color: #7ebd17;
    padding-right: 10px;
    letter-spacing: -5px;
}

.euro{
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: x-large;
}

button {
    display: inline-block;
    padding: .75rem 1.25rem;
    border: none;
    border-radius: 1rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #7ebd17;
        border-radius: 1rem;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #689b13;
        transition: all .3s;
        border-radius: 1rem;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
    }
}
