main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pannel{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pannel a{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 24vw;
    height: 30vh;
    padding: 1vw;
    background-color: #8fd71a;
    border-radius: 20px;
    /*2db456*/
    color: white;
    text-decoration: none;
}
#pannel h3{
    margin-bottom: 0;
}