.logMsg{
    color: white;
    background-color: #2db456;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.main{
    padding-top: 1vh;
    padding-bottom: 6vh;
}

.form{
    display: flex;
    align-items: center;
}

#formHead{
    background-color: #854f00;
    padding:0;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-right: 3.6vw;
    width: 100%
}

#formHead p{
    color: white;
    margin: 0;
    width: 100%
}

.text{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.text input{
    width: 100%;
}

.form .id{
    width: 2vw;
    font-size: medium;
    margin: 0;
    padding-right: 0.8vw;
}

.textHeader{
    padding: 0;
    margin-right: 4vw;
    font-size: large;
}

.btn-content{
    padding: 0;
    width: 26px;
    height: 26px;
}