main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pannel{
    width: 64%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pannel a{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 20vh;
    padding: 10px;
    background-color: #8fd71a;
    border-radius: 20px;
    /*2db456*/
    color: white;
    text-decoration: none;
}