.main{
    padding-top: 6vh;
    padding-bottom: 6vh;
}

.form{
    display: flex;
    align-items: center;
}

.text{
    display: flex;
}

.form p{
    font-size: large;
    margin: 0;
    padding-right: 1vw;
}

input{
    padding: 0.6vh;
    width: 10vw;
}

.btn-content{
    width: 30px;
    height: 30px;
}