h2{
    font-weight: normal;
    color: #7ebd17;
    text-align: center;
}

.presentation img{
    width : 45%;
}

.para{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.para :first-child{
    padding-right: 20px;
}

.para :last-child{
    padding-left: 20px;
}

.para :last-child li{
    padding-left: 0  ;
}

@media screen and (max-width: 1250px){
    .para{
        font-size: large;
    }
}

@media screen and (max-width: 1000px) {
    .main {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media screen and (max-width: 600px) {
    .main {
        margin-left: 0;
        margin-right: 0;
    }
    .para {
        flex-direction: column;
    }
    .presentation img {
        width: 100%;
    }
}